/*Dekoracija slova u navigacionom delu*/
.r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }
  /*boja slova kada se prelazi kursorom preko njih*/
  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }
  
  .menu__link{
    display: var(--menuLinkDisplay, block);
  }
  .menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }
  /*Menjanje u crnu boju slova kad se predje preko njih sa kursorom */
 
  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
  }
  /*Izgled celog navigacionog dela*/
  .menu{
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }
  
  .menu__list{
    display: flex;  
  }
  
  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  /*sama boja navigacionog dela*/
  .navigacioni_deo__custom-settings{
    --menuBackgroundColor: rgba(128, 128, 128, 0.322);
    --menuLinkColor: rgb(255, 255, 255);
    --menuLinkColorUnactive: #ffffff;
    --menuLinkOutlineOffset: -.5rem; 
  }
  
  
  
 